# Ignore everything:
*

# Except for these files and directories:
!.gitignore
!early-init.el
!init.el
!custom.el
!gptel-config.el.example
!lisp/
!lisp/*
!conf/
!conf/*
!plugins/
!plugins/*

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree