# Ignore everything:
*

# Except for these files and directories:
!.gitignore
!init.el
!nw.el
!conf/
!conf/*
!plugins/
!plugins/*

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree